{% extends 'base.html' %}

{% block title %}drchrono appointment kiosk{% endblock %}

{% block main %}
<div>
  <h1>Confirm your info below</h1>

</div>

<form method="POST" action="{% url 'complete' instance_guid=instance_guid %}">

{% csrf_token %}

{{ form.as_p }}

<input type="submit" class="btn btn-default btn-lg btn-block" value="Submit" />

</form>

<div style="margin-top: 20px;">
  <a href="{% url 'kiosk' instance_guid=instance_guid %}" class="btn btn-default btn-lg btn-block">Back</a>
</div>

{% endblock %}
